
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #232323;
  font-size: 13px !important;
  overflow-x: hidden;
  line-height: 24px;
  padding-top: 100px;
  font-weight: 400; 
}

a[class="item_nombre hvr-overline-from-center"] 
{ 
 
  	font-weight: bold; 
    color: #002852;
    font-size: 15px !important;
    padding-top: 3px;
        letter-spacing: 0.5px;
}



a:hover[class="item_nombre hvr-overline-from-center"] 
{   
  
	 

}

a{
	text-decoration: none !important;
}

.img_logo{
  width: 150px;
  float: right; 
}



.img_header
{
  width: inherit !important; 
}

.foto_investigacion{
  height: 150px !important;
  width: -webkit-fill-available;
}

.row_resultado
{
        background-color: #0025502e;
    font-size: 18px;
    color: #002651;
    padding: 10px !important;
}

a:hover[class="link_menu"] 
{ 
  background-color: #068aba24 !important ;

}


a.link_menu:hover
{ 
  background-color: red;

}

.img_convenio
{ 
}

.icon_red_social
{ 
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 10px 15px;

}

#logo{ 
width: 150px !important;
padding-top: 10px;
}


.row_listado
{
  padding-bottom: 10px;
}

.equipo
{
      font-size: 18px;
}

a.link_menu.active  
{
    border-bottom: 2px solid #088bbb;
    background-color: #80808021;
}

.row_listado
{
    padding-top: 20px;
}

a[class="link_seccion"] 
{ 
  color: #000 ;

}

.carousel-indicators
{
  bottom: 10px; 
}
 

.titulo_investigaciones
{
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
      display: inline-block;
    vertical-align: middle;
}

.icono_investigaciones
{ 
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8080801a;
    background-color: #b5abab36;
    width: 70px;
    text-align: center;
}

#subtitulo_proyecto
{
  font-size: 18px; 
}


.img-thumbnail{
  width: -webkit-fill-available !important;
}

.header_pagina{
  position: relative;
    width: 100%;
    overflow: hidden; 
}

input.btn.btn-primary.btn-block { 
    background-image: linear-gradient(to bottom,#00699e 0,#5a8fb5 100%);
    background-color: #0f76a9 !important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
   margin-right: 0px; 
   margin-left: 0px;  
}



label.error
{
    color:red;
    font-size: 11px;
}

.div_row
{
    padding: 1.25rem;
     margin-bottom: 1.25rem;
    border: 1px solid #eee;
     border-radius: .25rem
}


#logo{
  width: 170px;
}

.fa{
  font-size: 20px;
}


.navbar-collapse {
      float: left;
      width: 100%;
      clear: both;
}

#button_responsive{
      background-color: #002650;
}

.icon-bar{
  background-color: white;
}
 


.nav>li>a 
{
    position: relative;
    display: block;
    padding: 10px 10px;
}
 

.nav>li>a { 
    padding: 10px 20px;
    color: #002751;
    font-weight: lighter;
}
 

.label_seccion {
    padding: 15px 10px;
    width: -webkit-fill-available;
    color: #00699e;
 
    margin-bottom: 10px;
    padding-left: 20px;
 
    font-size: 20px;
    font-weight: 100;
}

i.fa-pushed{
  color: white;
}

.item-footer a
{
  color: white;
}

#ul_servicios{
padding-left: 20px;

}

 

.carousel-indicators .active {
 
    background-color: #00699e;
}
 
    
#footer_link
{
    background-color: #212529;
    color:#FFF;
}

#footer_redes
{
    background-color: #131417;
    color:#FFF;
}

.footer_seccion
{
    color: #947301 !important;
}

.footer_link_util
{
    color: white !important;
}

.link_menu{
    color: #000;
    font-weight: bold;
    font-size: 14px;
font-weight: 500;
}

.item-footer{
  list-style:none !important;
}

.fa-chevron-right{
  font-size: 12px;
}

.mr-3{
  margin-right: 2rem!important;
}

.link_footer{
  color: white;
}

.link_footer:hover{
  color: grey; 
  text-decoration: none;
}
 

.navbar-form .form-group
{
    margin: 0px;
}

.navbar-brand
{
    padding-top: 16px !important;
}

.navbar {

background-color: white;
    min-height: 100px;
}

.slick-slide img{
  width: auto;
}



/* TODO BIEN */

#foto1{
 
}

.foto_cancha{
  width: 100%; 
  border: 1px solid white;
}

.foto_publicacion{
  width: 100%;
}

.iframe_facebook{
  width: 100%;
  height: -webkit-fill-available;
}

.titulo{
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 80px; 
  text-align: center;
}

 
.seccion{

  padding-top: 80px;

}

.titulo_verde{

  color: #228c85;

}
 
.far{
  padding-right: 10px !img;
}
 
iframe{
    width: -webkit-fill-available; 
}

#patrocinadores_mobile{
  display: none;
}
 


.slide_div_titulo {
    top: 0;
    left: 0px;
    width: -webkit-fill-available;
    border: 1px solid rgba(0,0,0,0);
    background-color: #ffffff9e;
    height: -webkit-fill-available;
    padding: 20px;
    position: absolute;
    color: #1c496f; 
}



.imagen_header_sombra {
     top: 0;
    left: 0px;
    width: -webkit-fill-available;
    border: 1px solid rgba(0,0,0,0);
    background-color: #ffffff9e;
    height: -webkit-fill-available;
    padding: 20px;
    position: absolute;
    color: #1c496f;
 
 
    
}

.imagen_header_titulo{
      font-size: 45px;
    font-weight: 500;
    line-height: 1.2;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);*/
    text-align: center;
    padding-top: 45px;
    color: #00699e;
    letter-spacing: 2px;
}
 

 

.slide_titulo1 {
    font-size: 24px;
    color: #0d4e86;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500; 
}
 

.slide_titulo2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    
}
 

.slide_descripcion {
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
 
}



a[class="nav-link js-scroll-trigger"] 
{ 
  font-size: 13px; 
  color: #000;  
  padding: 10px 20px;
  display: block;
}

a:hover[class="nav-link js-scroll-trigger"] 
{ 
  color: #228d87 !important;
   
    
}

a:hover[class="link_footer nav-link js-scroll-trigger"] 
{ 
  color: #080808;
    
}


a.nav-link.js-scroll-trigger.active{
  border-bottom: 3px solid #006ca3;
  font-size: 13px;
  padding: 10px 10px;
  color: #232323;
    font-weight: bold;
}

#carousel-inner {
    height: 350px !important;
}


 

.container_slider{
  padding-top: 5%;
}

.div.col-md-4.col-xs-12.publicacion{
  padding-top: 50px !important; 
}

#div_cv{
  display: none;
}

.iframe_mapa_google{

  height: auto; 

}





.row > div.col-md-6.col-xs-12   
{     padding-left: 0px;
    padding-right: 0px;

}

.row > div.col-md-3.col-xs-12
{ 
    padding-left: 0px;
    padding-right: 0px;

}

.list-group-item{
      font-size: 13px;
          padding: 5px 15px;
}

.calle_mapa{
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}

.fa-map-marker-alt:before {
 
    color: #00699e;
}

#div_sumate_sidom{
  display: none;
}





.imagen_header{
    height: 165px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/carrusel/slider1.jpg');


}

.imagen_cuidados_1{
 
    background-image: url('../img/cuidados_1.jpg');
}

.imagen_cuidados_2{
    background-image: url('../img/cuidados_2.jpg');
}

.imagen_servicios_1{
    background-image: url('../img/servicios_1.jpg');
}

.imagen_servicios_2{
    background-image: url('../img/servicios_2.jpg');
}

.imagen_investigacion_1{
    background-image: url('../img/investigacion_1.jpg');
}

.convenios p{
  font-weight: bold;
}


.list-group{
  
    -webkit-box-shadow: none;
}

.div_row_mapa{
      padding: 10px;
    border-bottom: 1px solid #00699e4d;
}

#frase_servicios_1{
  font-size: 15px;
  font-style: italic;
}

.direccion_red{
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-align: center;
}
 

.iframe_mapa{
-webkit-box-shadow: 2px 2px 8px 1px rgba(196,196,196,1);
    -moz-box-shadow: 2px 2px 8px 1px rgba(196,196,196,1);
    box-shadow: 2px 2px 8px 1px rgba(196,196,196,1);
}

.navbar-header {
      height: 22px !important;
      
  }

@media only screen and (max-width: 768px){
  .container_slider{
    padding-top: 0%;
  }     
  
  .carousel-indicators
  {
    bottom: -17px; 
  }

  #carousel-inner 
  {
 
   height: 250px !important;
    background-color: #0600ff;
  }

  #carousel-inner img{
    height: 250px;
  }

  .slide_div_titulo
  {
 
    left: 0px;
    margin-top: 0%;
  }

  .slide_titulo1 {
    font-size: 14px;
  }

   .slide_titulo2 {
    font-size: 20px;
  }

  .titulo{
    line-height: 1.2;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .seccion{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-toggle { 
      background-color: #2c8787;
          margin-top: 16px;
  }

  .slide_descripcion{ 
    width: 100%;
  }

  .img_convenio
  { 
    padding: 0px 100px;


  }

  .slide{
    padding-right: : 20px !important;
  }

  #patrocinadores_mobile{
    display: block;
  }

  #patrocinadores_desktop{
    display: none;
  }

  

  div.col-xs-6 
  {
    
    display: flex !important; 
    align-items: center !important; 
    justify-content: center !important;

  }

  .navbar-header
  { 
    padding-top: 0px;
    padding-bottom: 25px; 
  }

  .slide_descripcion{
    font-size: 15px;
      line-height:   1.2;  
  }

  #seccion_cuadricula .col-md-6{
    padding-bottom: 40px;

  }

  #seccion_cuadricula .col-md-6.btn-primary {
    text-align: center;
  }

  .navbar-right {
            margin-top: 40px;
    background-color: #6dc8cf17;
  }
  
  a.nav-link.js-scroll-trigger.active{
    border-bottom: none;
    border-left: 3px solid #006ca3;
    font-size: 13px;
    padding: 10px 10px; 
    display: block;
  }

  a[class="nav-link js-scroll-trigger"] 
  { 
    font-size: 13px; 
    color: #000;  
    padding: 10px 10px;
    display: block;
  }

  a:hover[class="nav-link js-scroll-trigger"] 
  { 
    color: #228d87 !important;
     
      
  }

  a:hover[class="link_footer nav-link js-scroll-trigger"] 
  { 
    color: #080808;
      
  }

  .imagen_header_titulo{
    font-size: 25px;
  }

}

 
@media (max-width: 1200px) {
  .navbar-header {
      float: none;

  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
         background-color: #6dc8cf;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
      background-color: white;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
 